<h4 class="title">Weather Secondary</h4>
          <div class="weather-table">
            <table class="table table-responsive"
                   id="forecast-table">
              <thead>
                <tr>
                  <th class="days">Mon</th>
                  <th class="days">Tue</th>
                  <th class="days">Wed</th>
                  <th class="days">Thur</th>
                  <th class="days">Fri</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img class="forecast-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" />
                    <h5 class="forecast-weather">Rains (0.45)</h5>
                    <ul class="list-unstyled list-inline">
                      <li><span class="forecast-temp temp">22.59</span>
                        <span class="format"> &deg;F</span></li>
                    </ul>
                  </td>
                  <td>
                    <img class="forecast-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" />
                    <h5 class="forecast-weather">Rains (0.45)</h5>
                    <ul class="list-unstyled list-inline">
                      <li><span class="forecast-temp temp">22.59</span>
                        <span class="format"> &deg;F</span></li>
                    </ul>
                  </td>
                  <td>
                    <img class="forecast-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" />
                    <h5 class="forecast-weather">Rains (0.45)</h5>
                    <ul class="list-unstyled list-inline">
                      <li><span class="forecast-temp temp">22.59</span><span class="format"> &deg;F</span></li>
                    </ul>
                  </td>
                  <td>
                    <img class="forecast-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" />
                    <h5 class="forecast-weather">Rains (0.45)</h5>
                    <ul class="list-unstyled list-inline">
                      <li><span class="forecast-temp temp">22.59</span><span class="format"> &deg;F</span></li>
                    </ul>
                  </td>
                  <td>
                    <img class="forecast-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" />
                    <h5 class="forecast-weather">Rains (0.45)</h5>
                    <ul class="list-unstyled list-inline">
                      <li><span class="forecast-temp temp">22.59</span><span class="format"> &deg;F</span></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="weather-facts">
            <h4><u>Did you know?</u></h4>
            <p>The highest temperature ever recorded in Antarctica is 14.6 °C (59 °F), recorded on January 5, 1974.</p>
          </div>