<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid my-container-fluid bg-inverse">
    <nav class="navbar navbar-inverse" style="border-radius: 0px">
			<div class="container-fluid">
				<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            Weather App
          </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/dashboard']">Home</a></li>
            <li><a [routerLink]="['/graphs']">Graphs</a></li>
            <li><a>About Us</a></li>
          </ul>
        </div>
			</div>
		</nav>

    <router-outlet></router-outlet>
  </div>
